<div class="col" id="before_you_study" style="height:560px; width:840px;">

  <iframe id="before_you_study_iframe" [src]="'assets/files/k1/ho6/2_before_you_study/before_you_study/BeforeYouStudy.html' | safe"
          frameborder="0" crossorigin="Anonymous"
          style="height:560px; width:840px;"></iframe>

  <video id="red_video" (ended)="hideVideo('red')" style="display: none;"
         preload="auto"
         class="embed-responsive embed-responsive-16by9">
    <source src="../assets/files/k1/ho6/2_before_you_study/red_background.mp4" type="video/mp4">
    Your Browser don't support this video.
  </video>

  <video id="purple_video" (ended)="hideVideo('purple')" style="display: none;"
         preload="auto"
         class="embed-responsive embed-responsive-16by9">
    <source src="../assets/files/k1/ho6/2_before_you_study/purple_background.mp4" type="video/mp4">
    Your Browser don't support this video.
  </video>

  <video id="orange_video" (ended)="hideVideo('orange')" style="display: none;"
         preload="auto"
         class="embed-responsive embed-responsive-16by9">
    <source src="../assets/files/k1/ho6/2_before_you_study/orange_background.mp4" type="video/mp4">
    Your Browser don't support this video.
  </video>

  <video id="yellow_video" (ended)="hideVideo('yellow')" style="display: none;"
         preload="auto"
         class="embed-responsive embed-responsive-16by9">
    <source src="../assets/files/k1/ho6/2_before_you_study/yellow_background.mp4" type="video/mp4">
    Your Browser don't support this video.
  </video>

  <video id="green_video" (ended)="hideVideo('green')" style="display: none;"
         preload="auto"
         class="embed-responsive embed-responsive-16by9">
    <source src="../assets/files/k1/ho6/2_before_you_study/green_background.mp4" type="video/mp4">
    Your Browser don't support this video.
  </video>

  <video id="blue_video" (ended)="hideVideo('blue')" style="display: none;"
         preload="auto"
         class="embed-responsive embed-responsive-16by9">
    <source src="../assets/files/k1/ho6/2_before_you_study/blue_background.mp4" type="video/mp4">
    Your Browser don't support this video.
  </video>

</div>
