<div class="col" id="sing_a_song">

  <div class="row mb-3">

    <div class="col-6">
      <div class="card"
           id="sing_a_song_card_1"
           style="width: 22rem;" (click)="enterFolder(1)">
        <img class="card-img-top" src="../assets/files/k1/ho6/1_sing_a_song/thumbnail1.png" alt="Card image cap">
        <div class="card-body border-top">
          <p class="card-text">Hello Song</p>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card" id="sing_a_song_card_2" style="width: 22rem;" (click)="enterFolder(2)">
        <img class="card-img-top" src="../assets/files/k1/ho6/1_sing_a_song/thumbnail2.png" alt="Card image cap">
        <div class="card-body border-top">
          <p class="card-text">Bye Song</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row mb-3">

    <div class="col-6">
      <div class="card" id="sing_a_song_card_3" style="width: 22rem;" (click)="enterFolder(3)">
        <img class="card-img-top" src="../assets/files/k1/ho6/1_sing_a_song/thumbnail3.png" alt="Card image cap">
        <div class="card-body border-top">
          <p class="card-text">Color Dance Song</p>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card" id="sing_a_song_card_4" style="width: 22rem;" (click)="enterFolder(4)">
        <img class="card-img-top" src="../assets/files/k1/ho6/1_sing_a_song/thumbnail4.png" alt="Card image cap">
        <div class="card-body border-top">
          <p class="card-text">Lion Song</p>
        </div>
      </div>
    </div>


  </div>
  <div class="row">

    <div class="col-6">
      <div class="card" id="sing_a_song_card_5" style="width: 22rem;" (click)="enterFolder(5)">
        <img class="card-img-top" src="../assets/files/k1/ho6/1_sing_a_song/thumbnail5.png" alt="Card image cap">
        <div class="card-body border-top">
          <p class="card-text">Eastern Kids Song</p>
        </div>
      </div>
    </div>

  </div>


  <video id="sing_a_song_video_1" controls preload="auto"
         class="embed-responsive embed-responsive-16by9"
         style="display:none;">
    <source src="../assets/files/k1/ho6/1_sing_a_song/1_hello_song.mp4" type="video/mp4">
    Your Browser don't support this video.
  </video>

  <video id="sing_a_song_video_2" controls preload="auto"
         class="embed-responsive embed-responsive-16by9"
         style="display:none;">
    <source src="../assets/files/k1/ho6/1_sing_a_song/2_bye_song.mp4" type="video/mp4">
    Your Browser don't support this video.
  </video>


  <video id="sing_a_song_video_3" controls preload="auto"
         class="embed-responsive embed-responsive-16by9"
         style="display:none;">
    <source src="../assets/files/k1/ho6/1_sing_a_song/3_color_dance_song.mp4" type="video/mp4">
    Your Browser don't support this video.
  </video>

  <video id="sing_a_song_video_4" controls preload="auto"
         class="embed-responsive embed-responsive-16by9"
         style="display:none;">
    <source src="../assets/files/k1/ho6/1_sing_a_song/4_lion_song.mp4" type="video/mp4">
    Your Browser don't support this video.
  </video>

  <video id="sing_a_song_video_5" controls preload="auto"
         class="embed-responsive embed-responsive-16by9"
         style="display:none;">
    <source src="../assets/files/k1/ho6/1_sing_a_song/5_main_song.mp4" type="video/mp4">
    Your Browser don't support this video.
  </video>

</div>
